/* Colores */
/* Colores background */
.color-bg-negro{
  background-color:  #1F1F21 ;
}
.color-bg-negro-a{
  background-color:  #2B2B2B ;
}
.color-bg-negro-b{
  background-color:  #4A4A4A ;
}
.color-bg-blanco{
  background-color:  #ffffff ;
}
.color-bg-blanco-a{
  background-color:  #f7f7f7 ;
}
.color-bg-blanco-b{
  background-color:  #D7D7D7 ;
}
.color-bg-blanco-c{
  background-color:  #D6CEC3 ;
}
.color-bg-blanco-d{
  background-color:  #E4DDCA ;
}
.color-bg-rojo{
  background-color: #FF3B30 ;
}
.color-bg-rojo-a{
  background-color: #FF2D55 ;
}
.color-bg-rojo-b{
  background-color: #FF4981 ;
}
.color-bg-rojo-c{
  background-color: #FF1300 ;
}
.color-bg-rojo-d{
  background-color: #FF3A2D ;
}
.color-bg-naranja{
  background-color: #FF9500 ;
}
.color-bg-naranja-a{
  background-color: #FF5E3A ;
}
.color-bg-amarillo{
  background-color: #FFCC00 ;
}
.color-bg-amarillo-a{
  background-color: #FFDB4C ;
}
.color-bg-amarillo-b{
  background-color: #FFCD02 ;
}
.color-bg-violeta{
  background-color: #5856D6 ;
}
.color-bg-violeta-a{
  background-color: #5856D6 ;
}
.color-bg-violeta-b{
  background-color: #C644FC ;
}
.color-bg-magenta{
  background-color: #EF4DB6 ;
}
.color-bg-magenta-a{
  background-color: #C643FC ;
}
.color-bg-magenta-b{
  background-color: #C86EDF ;
}
.color-bg-magenta-c{
  background-color: #E4B7F0 ;
}
.color-bg-azul{
  background-color: #007AFF ;
}
.color-bg-azul-a{
  background-color: #1D62F0 ;
}
.color-bg-azul-b{
  background-color: #34AADC ;
}
.color-bg-azul-c{
  background-color: #5BCAFF ;
}
.color-bg-celeste{
  background-color: #1AD6FD ;
}
.color-bg-celeste-a{
  background-color: #81F3FD ;
}
.color-bg-celeste-b{
  background-color: #D1EEFC ;
}
.color-bg-celeste-c{
  background-color: #55EFCB ;
}
.color-bg-verde{
  background-color: #0BD318 ;
}
.color-bg-verde-a{
  background-color: #4CD964 ;
}
.color-bg-verde-b{
  background-color: #87FC70 ;
}
.color-bg-verde-c{
  background-color: #5AD427 ;
}
.color-bg-verde-d{
  background-color: #A4E786 ;
}
.color-bg-verde-e{
  background-color: #E0F8D8 ;
}

.color-bg-gris{
  background-color: #8E8E93 ;
}
.color-bg-gris-a{
  background-color: #C7C7CC ;
}
.color-bg-gris-b{
  background-color: #BDBEC2 ;
}
.color-bg-gris-c{
  background-color: #D7D7D7 ;
}

.color-bg-azul:hover{
  /*background-color: #007AFF ;*/
  background-color: #1D62F0 ;
  color:#ffffff ;
}

/* Colores gradientes div */
.color-gradient-blanco{
  background: #f7f7f7 ;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #d7d7d7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#d7d7d7));
  background: -webkit-linear-gradient(top, #f7f7f7 0%,#d7d7d7 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%,#d7d7d7 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%,#d7d7d7 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%,#d7d7d7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#d7d7d7',GradientType=0 );
}
.color-gradient-rojo{
  background: #ff5e3a ;
  background-image: linear-gradient(#ff5e3a, #ff2a68);
  background: -moz-linear-gradient(top, #ff5e3a 0%, #ff2a68 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5e3a), color-stop(100%,#ff2a68));
  background: -webkit-linear-gradient(top, #ff5e3a 0%,#ff2a68 100%);
  background: -o-linear-gradient(top, #ff5e3a 0%,#ff2a68 100%);
  background: -ms-linear-gradient(top, #ff5e3a 0%,#ff2a68 100%);
  background: linear-gradient(to bottom, #ff5e3a 0%,#ff2a68 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5e3a', endColorstr='#ff2a68',GradientType=0 );
}
.color-gradient-rojo-a{
  background: #fb2b69;
  background: -moz-linear-gradient(top, #fb2b69 0%, #ff5b37 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb2b69), color-stop(100%,#ff5b37));
  background: -webkit-linear-gradient(top, #fb2b69 0%,#ff5b37 100%);
  background: -o-linear-gradient(top, #fb2b69 0%,#ff5b37 100%);
  background: -ms-linear-gradient(top, #fb2b69 0%,#ff5b37 100%);
  background: linear-gradient(to bottom, #fb2b69 0%,#ff5b37 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb2b69', endColorstr='#ff5b37',GradientType=0 );
}
.color-gradient-naranja{
  background: #ff9500;
    background-image: linear-gradient(#ff9500, #ff5e3a);
    background: -moz-linear-gradient(top, #ff9500 0%, #ff5e3a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9500), color-stop(100%,#ff5e3a));
    background: -webkit-linear-gradient(top, #ff9500 0%,#ff5e3a 100%);
    background: -o-linear-gradient(top, #ff9500 0%,#ff5e3a 100%);
    background: -ms-linear-gradient(top, #ff9500 0%,#ff5e3a 100%);
    background: linear-gradient(to bottom, #ff9500 0%,#ff5e3a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9500', endColorstr='#ff5e3a',GradientType=0 );
}
.color-gradient-amarillo{
    background: #ffdb4c;
    background-image: linear-gradient(#ffdb4c, #ffcd02);
    background: -moz-linear-gradient(top, #ffdb4c 0%, #ffcd02 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdb4c), color-stop(100%,#ffcd02));
    background: -webkit-linear-gradient(top, #ffdb4c 0%,#ffcd02 100%);
    background: -o-linear-gradient(top, #ffdb4c 0%,#ffcd02 100%);
    background: -ms-linear-gradient(top, #ffdb4c 0%,#ffcd02 100%);
    background: linear-gradient(to bottom, #ffdb4c 0%,#ffcd02 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdb4c', endColorstr='#ffcd02',GradientType=0 );
}
.color-gradient-verde{
  background: #87fc70;
      background-image: linear-gradient(#87fc70, #0bd318);
      background: -moz-linear-gradient(top, #87fc70 0%, #0bd318 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87fc70), color-stop(100%,#0bd318));
      background: -webkit-linear-gradient(top, #87fc70 0%,#0bd318 100%);
      background: -o-linear-gradient(top, #87fc70 0%,#0bd318 100%);
      background: -ms-linear-gradient(top, #87fc70 0%,#0bd318 100%);
      background: linear-gradient(to bottom, #87fc70 0%,#0bd318 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87fc70', endColorstr='#0bd318',GradientType=0 );
}
.color-gradient-celeste{
  background: #52edc7;
      background-image: linear-gradient(#52edc7, #5ac8fb);
      background: -moz-linear-gradient(top, #52edc7 0%, #5ac8fb 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52edc7), color-stop(100%,#5ac8fb));
      background: -webkit-linear-gradient(top, #52edc7 0%,#5ac8fb 100%);
      background: -o-linear-gradient(top, #52edc7 0%,#5ac8fb 100%);
      background: -ms-linear-gradient(top, #52edc7 0%,#5ac8fb 100%);
      background: linear-gradient(to bottom, #52edc787fc70 0%,#5ac8fb 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52edc7', endColorstr='#5ac8fb',GradientType=0 );
}
.color-gradient-celeste-a{
  background: #55efcb;
  background: -moz-linear-gradient(top, #55efcb 0%, #5bcaff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#55efcb), color-stop(100%,#5bcaff));
  background: -webkit-linear-gradient(top, #55efcb 0%,#5bcaff 100%);
  background: -o-linear-gradient(top, #55efcb 0%,#5bcaff 100%);
  background: -ms-linear-gradient(top, #55efcb 0%,#5bcaff 100%);
  background: linear-gradient(to bottom, #55efcb 0%,#5bcaff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55efcb', endColorstr='#5bcaff',GradientType=0 );
}
.color-gradient-azul{
  background: #1ad6fd;
  background-image: linear-gradient(#1ad6fd, #1d62f0);
  background: -moz-linear-gradient(top, #1ad6fd 0%, #1d62f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1ad6fd), color-stop(100%,#1d62f0));
  background: -webkit-linear-gradient(top, #1ad6fd 0%,#1d62f0 100%);
  background: -o-linear-gradient(top, #1ad6fd 0%,#1d62f0 100%);
  background: -ms-linear-gradient(top, #1ad6fd 0%,#1d62f0 100%);
  background: linear-gradient(to bottom, #1ad6fd 0%,#1d62f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ad6fd', endColorstr='#1d62f0',GradientType=0 );
}
.color-gradient-azul-a{
  background: #1d77ef;
  background: -moz-linear-gradient(top, #1d77ef 0%, #81f3fd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d77ef), color-stop(100%,#81f3fd));
  background: -webkit-linear-gradient(top, #1d77ef 0%,#81f3fd 100%);
  background: -o-linear-gradient(top, #1d77ef 0%,#81f3fd 100%);
  background: -ms-linear-gradient(top, #1d77ef 0%,#81f3fd 100%);
  background: linear-gradient(to bottom, #1d77ef 0%,#81f3fd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d77ef', endColorstr='#81f3fd',GradientType=0 );
}
.color-gradient-violeta{
  background: #c644fc;
    background-image: linear-gradient(#c644fc, #5856d6);
    background: -moz-linear-gradient(top, #c644fc 0%, #5856d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c644fc), color-stop(100%,#5856d6));
    background: -webkit-linear-gradient(top, #c644fc 0%,#5856d6 100%);
    background: -o-linear-gradient(top, #c644fc 0%,#5856d6 100%);
    background: -ms-linear-gradient(top, #c644fc 0%,#5856d6 100%);
    background: linear-gradient(to bottom, #c644fc 0%,#5856d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c644fc', endColorstr='#5856d6',GradientType=0 );
}
.color-gradient-magenta{
  background: #ef4db6;
  background-image: linear-gradient(#ef4db6, #c643fc);
  background: -moz-linear-gradient(top, #ef4db6 0%, #c643fc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef4db6), color-stop(100%,#c643fc));
  background: -webkit-linear-gradient(top, #ef4db6 0%,#c643fc 100%);
  background: -o-linear-gradient(top, #ef4db6 0%,#c643fc 100%);
  background: -ms-linear-gradient(top, #ef4db6 0%,#c643fc 100%);
  background: linear-gradient(to bottom, #ef4db6 0%,#c643fc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef4db6', endColorstr='#c643fc',GradientType=0 );
}
.color-gradient-negro{
  background: #4a4a4a;
    background-image: linear-gradient(#4a4a4a, #2b2b2b);
    background: -moz-linear-gradient(top, #4a4a4a 0%, #2b2b2b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a4a4a), color-stop(100%,#2b2b2b));
    background: -webkit-linear-gradient(top, #4a4a4a 0%,#2b2b2b 100%);
    background: -o-linear-gradient(top, #4a4a4a 0%,#2b2b2b 100%);
    background: -ms-linear-gradient(top, #4a4a4a 0%,#2b2b2b 100%);
    background: linear-gradient(to bottom, #4a4a4a 0%,#2b2b2b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#2b2b2b',GradientType=0 );
}
.color-gradient-plata{
  background: #dbddde;
    background-image: linear-gradient(#dbddde, #898c90);
    background: -moz-linear-gradient(top, #dbddde 0%, #898c90 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbddde), color-stop(100%,#898c90));
    background: -webkit-linear-gradient(top, #dbddde 0%,#898c90 100%);
    background: -o-linear-gradient(top, #dbddde 0%,#898c90 100%);
    background: -ms-linear-gradient(top, #dbddde 0%,#898c90 100%);
    background: linear-gradient(to bottom, #dbddde 0%,#898c90 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#898c90',GradientType=0 );
}
.color-gradient-crema{
  background: #d6cec3;
  background: -moz-linear-gradient(top, #d6cec3 0%, #e4ddca 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6cec3), color-stop(100%,#e4ddca));
  background: -webkit-linear-gradient(top, #d6cec3 0%,#e4ddca 100%);
  background: -o-linear-gradient(top, #d6cec3 0%,#e4ddca 100%);
  background: -ms-linear-gradient(top, #d6cec3 0%,#e4ddca 100%);
  background: linear-gradient(to bottom, #d6cec3 0%,#e4ddca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6cec3', endColorstr='#e4ddca',GradientType=0 );
}
.color-gradient-verde{
  background: #5ad427;
  background: -moz-linear-gradient(top, #5ad427 0%, #a4e786 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ad427), color-stop(100%,#a4e786));
  background: -webkit-linear-gradient(top, #5ad427 0%,#a4e786 100%);
  background: -o-linear-gradient(top, #5ad427 0%,#a4e786 100%);
  background: -ms-linear-gradient(top, #5ad427 0%,#a4e786 100%);
  background: linear-gradient(to bottom, #5ad427 0%,#a4e786 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ad427', endColorstr='#a4e786',GradientType=0 );
}
.color-gradient-magenta-a{
  background: #c86edf;
  background: -moz-linear-gradient(top, #c86edf 0%, #e4b7f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c86edf), color-stop(100%,#e4b7f0));
  background: -webkit-linear-gradient(top, #c86edf 0%,#e4b7f0 100%);
  background: -o-linear-gradient(top, #c86edf 0%,#e4b7f0 100%);
  background: -ms-linear-gradient(top, #c86edf 0%,#e4b7f0 100%);
  background: linear-gradient(to bottom, #c86edf 0%,#e4b7f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c86edf', endColorstr='#e4b7f0',GradientType=0 );
}

/* Colores texto */
.color-text-negro{
  color: #1F1F21 ;
}
.color-text-negro-a{
  color: #2B2B2B ;
}
.color-text-negro-b{
  color: #4A4A4A ;
}
.color-text-blanco{
  color: #f7f7f7 ;
}
.color-text-blanco-a{
  color: #D7D7D7 ;
}
.color-text-blanco-b{
  color: #D6CEC3 ;
}
.color-text-blanco-c{
  color: #E4DDCA ;
}
.color-text-rojo{
  color:#FF3B30 ;
}
.color-text-rojo-a{
  color:#FF2D55 ;
}
.color-text-rojo-b{
  color:#FF4981 ;
}
.color-text-rojo-c{
  color:#FF1300 ;
}
.color-text-rojo-d{
  color:#FF3A2D ;
}
.color-text-naranja{
  color:#FF9500 ;
}
.color-text-naranja-a{
  color:#FF5E3A ;
}
.color-text-amarillo{
  color:#FFCC00 ;
}
.color-text-amarillo-a{
  color:#FFDB4C ;
}
.color-text-amarillo-b{
  color:#FFCD02 ;
}
.color-text-violeta{
  color:#5856D6 ;
}
.color-text-violeta-a{
  color:#5856D6 ;
}
.color-text-violeta-b{
  color:#C644FC ;
}
.color-text-magenta{
  color:#EF4DB6 ;
}
.color-text-magenta-a{
  color:#C643FC ;
}
.color-text-magenta-b{
  color:#C86EDF ;
}
.color-text-magenta-c{
  color:#E4B7F0 ;
}
.color-text-azul{
  color:#007AFF ;
}
.color-text-azul-a{
  color:#1D62F0 ;
}
.color-text-azul-b{
  color:#34AADC ;
}
.color-text-azul-c{
  color:#5BCAFF ;
}
.color-text-celeste{
  color:#1AD6FD ;
}
.color-text-celeste-a{
  color:#81F3FD ;
}
.color-text-celeste-b{
  color:#D1EEFC ;
}
.color-text-celeste-c{
  color:#55EFCB ;
}
.color-text-verde{
  color:#0BD318 ;
}
.color-text-verde-a{
  color:#4CD964 ;
}
.color-text-verde-b{
  color:#87FC70 ;
}
.color-text-verde-c{
  color:#5AD427 ;
}
.color-text-verde-d{
  color:#A4E786 ;
}
.color-text-verde-e{
  color:#E0F8D8 ;
}

.color-text-gris{
  color:#8E8E93 ;
}
.color-text-gris-a{
  color:#C7C7CC ;
}
.color-text-gris-b{
  color:#BDBEC2 ;
}
.color-text-gris-c{
  color:#D7D7D7 ;
}
.color-text-gris-a:hover, .color-text-gris-b:hover,.color-text-gris-c:hover {
  color:#8E8E93 ;
}

/* Colores para bordes */

/* Colores bordero */
.color-border-negro{
  border:1px solid  #1F1F21 ;
}
.color-border-negro-a{
  border:1px solid  #2B2B2B ;
}
.color-border-negro-b{
  border:1px solid  #4A4A4A ;
}
.color-border-blanco{
  border:1px solid  #f7f7f7 ;
}
.color-border-blanco-a{
  border:1px solid  #D7D7D7 ;
}
.color-border-blanco-b{
  border:1px solid  #D6CEC3 ;
}
.color-border-blanco-c{
  border:1px solid  #E4DDCA ;
}
.color-border-rojo{
  border:1px solid #FF3B30 ;
}
.color-border-rojo-a{
  border:1px solid #FF2D55 ;
}
.color-border-rojo-b{
  border:1px solid #FF4981 ;
}
.color-border-rojo-c{
  border:1px solid #FF1300 ;
}
.color-border-rojo-d{
  border:1px solid #FF3A2D ;
}
.color-border-naranja{
  border:1px solid #FF9500 ;
}
.color-border-naranja-a{
  border:1px solid #FF5E3A ;
}
.color-border-amarillo{
  border:1px solid #FFCC00 ;
}
.color-border-amarillo-a{
  border:1px solid #FFDB4C ;
}
.color-border-amarillo-b{
  border:1px solid #FFCD02 ;
}
.color-border-violeta{
  border:1px solid #5856D6 ;
}
.color-border-violeta-a{
  border:1px solid #5856D6 ;
}
.color-border-violeta-b{
  border:1px solid #C644FC ;
}
.color-border-magenta{
  border:1px solid #EF4DB6 ;
}
.color-border-magenta-a{
  border:1px solid #C643FC ;
}
.color-border-magenta-b{
  border:1px solid #C86EDF ;
}
.color-border-magenta-c{
  border:1px solid #E4B7F0 ;
}
.color-border-azul{
  border:1px solid #007AFF ;
}
.color-border-azul-a{
  border:1px solid #1D62F0 ;
}
.color-border-azul-b{
  border:1px solid #34AADC ;
}
.color-border-azul-c{
  border:1px solid #5BCAFF ;
}
.color-border-celeste{
  border:1px solid #1AD6FD ;
}
.color-border-celeste-a{
  border:1px solid #81F3FD ;
}
.color-border-celeste-b{
  border:1px solid #D1EEFC ;
}
.color-border-celeste-c{
  border:1px solid #55EFCB ;
}
.color-border-verde{
  border:1px solid #0BD318 ;
}
.color-border-verde-a{
  border:1px solid #4CD964 ;
}
.color-border-verde-b{
  border:1px solid #87FC70 ;
}
.color-border-verde-c{
  border:1px solid #5AD427 ;
}
.color-border-verde-d{
  border:1px solid #A4E786 ;
}
.color-border-verde-e{
  border:1px solid #E0F8D8 ;
}

.color-border-gris{
  border:1px solid #8E8E93 ;
}
.color-border-gris-a{
  border:1px solid #C7C7CC ;
}
.color-border-gris-b{
  border:1px solid #BDBEC2 ;
}
.color-border-gris-c{
  border:1px solid #D7D7D7 ;
}

/* Colores shadow div */
.color-shadow-negro{
  box-shadow: 1px 2px 6px rgba(0,0,0, 0.4);
  -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.4);
  -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.4);
}

/* Colores shadow text */
.color-shadow-text-blanco{
  text-shadow: 2px 1px 1px rgba(255, 255, 255, 1);
}
