@font-face {
  font-family: 'icon-font';
  src: url('../fonts/icon-font/icon-font.eot?71079079');
  src: url('../fonts/icon-font/icon-font.eot?71079079#iefix') format('embedded-opentype'),
       url('../fonts/icon-font/icon-font.woff2?71079079') format('woff2'),
       url('../fonts/icon-font/icon-font.woff?71079079') format('woff'),
       url('../fonts/icon-font/icon-font.ttf?71079079') format('truetype'),
       url('../fonts/icon-font/icon-font.svg?71079079#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon-font';
    src: url('../fonts/icon-font/icon-font.svg?71079079#icon-font') format('svg');
  }
}
*/

 [class^="icn-"]:before, [class*=" icn-"]:before {
  font-family: "icon-font";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icn-box:before { content: '\e800'; } /* '' */
.icn-category:before { content: '\e801'; } /* '' */
.icn-chevron-donw:before { content: '\e802'; } /* '' */
.icn-chevron-left:before { content: '\e803'; } /* '' */
.icn-chevron-up:before { content: '\e804'; } /* '' */
.icn-code:before { content: '\e805'; } /* '' */
.icn-conf:before { content: '\e806'; } /* '' */
.icn-content:before { content: '\e807'; } /* '' */
.icn-credential:before { content: '\e808'; } /* '' */
.icn-home:before { content: '\e809'; } /* '' */
.icn-link:before { content: '\e80a'; } /* '' */
.icn-list:before { content: '\e80b'; } /* '' */
.icn-off:before { content: '\e80c'; } /* '' */
.icn-pencil:before { content: '\e80d'; } /* '' */
.icn-plus:before { content: '\e80e'; } /* '' */
.icn-reorder:before { content: '\e80f'; } /* '' */
.icn-save:before { content: '\e810'; } /* '' */
.icn-shortcut:before { content: '\e811'; } /* '' */
.icn-sync:before { content: '\e812'; } /* '' */
.icn-system:before { content: '\e813'; } /* '' */
.icn-trash:before { content: '\e814'; } /* '' */
.icn-alarm:before { content: '\e815'; } /* '' */
.icn-bubble:before { content: '\e816'; } /* '' */
.icn-cc:before { content: '\e817'; } /* '' */
.icn-checkmark-circle:before { content: '\e818'; } /* '' */
.icn-danger:before { content: '\e819'; } /* '' */
.icn-email:before { content: '\e81a'; } /* '' */
.icn-key:before { content: '\e81b'; } /* '' */
.icn-lock:before { content: '\e81c'; } /* '' */
.icn-search:before { content: '\e81d'; } /* '' */
.icn-user-a:before { content: '\e81e'; } /* '' */
.icn-user:before { content: '\e81f'; } /* '' */
.icn-warning:before { content: '\e820'; } /* '' */
.icn-zoom:before { content: '\e821'; } /* '' */
.icn-zundi-o:before { content: '\e822'; } /* '' */
.icn-zundi:before { content: '\e823'; } /* '' */
.icn-close:before { content: '\e824'; } /* '' */
.icn-point-1:before { content: '\e825'; } /* '' */
.icn-point-2:before { content: '\e826'; } /* '' */
.icn-point-3:before { content: '\e827'; } /* '' */
.icn-point-4:before { content: '\e828'; } /* '' */
.icn-chevron-right:before { content: '\e829'; } /* '' */
.icn-rocket:before { content: '\e82a'; } /* '' */
.icn-level-page:before { content: '\e82b'; } /* '' */
.icn-block-page:before { content: '\e82c'; } /* '' */
.icn-move:before { content: '\e82d'; } /* '' */
.icn-eye-open:before { content: '\e82e'; } /* '' */
.icn-eye-close:before { content: '\e82f'; } /* '' */
.icn-page:before { content: '\e830'; } /* '' */
.icn-media:before { content: '\e831'; } /* '' */
.icn-box-o:before { content: '\e832'; } /* '' */
.icn-cart:before { content: '\e833'; } /* '' */
.icn-folder-up:before { content: '\e834'; } /* '' */
