/* Webfont: Lato-Bold */@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/lato-font/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lato-font/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-font/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/lato-font/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-font/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Light */@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/lato-font/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lato-font/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-font/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/lato-font/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-font/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
    font-family: 'Lato-';
    src: url('../fonts/lato-font/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lato-font/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-font/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/lato-font/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-font/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
