@import "sf-ui-font.css";

/* navbar */

body,
html {
  display : block;
  height  : 100%;
  margin  : 0;
  border  : 0;
}

body {
  color            : #2c353d;
  background-color : #F4F6F7 !important;
  text-align       : center;
  font-family      : "sf_ui_light",
                     helvetica,
                     arial !important;
}

a {
  color : #000;
}

/* Menu-top */


.pre-load-web {
  z-index    : 1000000;
  position   : fixed;
  top        : 0;
  right      : 0;
  bottom     : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
  background : #fff;
}

.logo-loading{
	width: 300px;
	height: 128px;
	background: url("../images/Logo-Landicorp-2016-300x128.png") no-repeat;
	display: inline-block;
	background-size: 100%;
}

.box-siteloader {
  margin-top : 20%;
}

.siteloader,
.siteloader:after {
  width         : 40px;
  height        : 40px;
  border-radius : 50%;
}

.siteloader {
  position          : relative;
  margin            : 0 auto;
  border-top        : 2px solid rgba(0, 0, 0, 0.2);
  border-right      : 2px solid rgba(0, 0, 0, 0.2);
  border-bottom     : 2px solid rgba(0, 0, 0, 0.2);
  border-left       : 2px solid #000;
  text-indent       : -9999em;
  font-size         : 10px;
  -webkit-animation : av-load8 0.8s infinite linear;
  animation         : av-load8  0.8s infinite linear;
}

@-webkit-keyframes av-load8 {
  0% {
    -webkit-transform : rotate(0deg);
    transform         : rotate(0deg);
  }

  100% {
    -webkit-transform : rotate(360deg);
    transform         : rotate(360deg);
  }
}

@keyframes av-load8 {
  0% {
    -webkit-transform : rotate(0deg);
    transform         : rotate(0deg);
  }

  100% {
    -webkit-transform : rotate(360deg);
    transform         : rotate(360deg);
  }
}

/* Menu-top */

.menu-top {
  min-height : 30px;
}

.menu-top .datos {
  padding : 8px 0px 6px 15px;
}

.box-logo, .container-fluid{
  /*padding-right : 0px;
  padding-left  : 0px;*/
}
.box-carousel{
  padding-right : 0px;
  padding-left  : 0px;
}

.box-logo .brand img {
  width : 211px;
}

.box-logo .rs a {
  display         : inline-block;
  padding         : 6px;
  height: 32px;
  width: 32px;
  text-decoration : none;
}
/* slide */

.icon-angle-left{
  width: 50px;
  height: 50px;
  margin-top: -10px;
  font-size: 2.4em;

  right: 30%;
  position: absolute;
  top:50%;
  padding: 0px 5px 5px 0px;
}
.icon-angle-right{
  width: 50px;
  height: 50px;
  margin-top: -10px;
  font-size: 2.4em;

  left: 30%;
  position: absolute;
  top:50%;
  padding: 0px 0px 5px 5px;
}

.box-text{
  padding: 30px;
  display: inline-block;
  text-align:justify;
}

.menu-top {
  background-color : #e1e1e1;
  font-size        : 13px;
}

.box-logo {}


.box-logo .rs {
  margin-top : 30px;
  display: none;
}

.box-logo .rs a {
  color              : #adb8c3;
  border-radius      : 100px;
  background         : transparent;
  font-size          : 16px;
  -webkit-transition : all 0.3s ease-out;
  transition         : all 0.3s ease-out;
}

.box-logo .rs a:hover {
  background-color : #eee;
}

.box-logo .rs .btn-fb:hover {
  color            : #fff;
  background-color : #3b5998;
}

.box-logo .rs .btn-tw:hover {
  color            : #fff;
  background-color : #1da1f2;
}

.box-logo .rs .btn-in:hover {
  color            : #fff;
  background-color : #007bb6;
}

/* menu-general */

.menu-general {
  height           : 51px !important;
  border-color     : none;
  border-radius    : 0px;
  background-color : #003995 !important;
      margin-bottom: 0px;
}

.menu-general .brand { padding-left: 15px; }


.menu-general .navbar-nav a {
  display     : inline-block;
  padding     : 14px 16px !important;
  color       : #fff;
  font-family : 'sf_ui_regular';
  font-weight : bold;
  line-height : normal !important;
  -webkit-transition : all 0.5s ease-out;
  transition         : all 0.5s ease-out;
}

.menu-general .navbar-nav li > ul {
  width       : 165px;
  padding-top : 0px;
  padding-bottom: 0px;
  border      : 1px solid #f25900;
  border-top: 0xp;
}

.menu-general .navbar-nav li > ul li a {
  width : 100%;
  color : #333;
  border-bottom:1px solid #eee;

}

.menu-general .navbar-nav a:hover {
  width            : 100%;
  color            : #fff;
  background-color : #f25900;
}

.menu-general .nav .open>a,
.menu-general .nav .open>a:focus,
.menu-general .nav .open>a:active,
.menu-general .nav .open>a:visited,
.menu-general .nav .open>a:hover,
.nav>li>a:focus, .nav>li>a:hover{
  background-color : #f25900;
}

.menu-general .navbar-collapse{
  padding-left: 0px;
}

/* carosuel */
.carousel {
  float:left;
  width: 100%;
}
.carousel .carousel-inner{
  padding-left: 0px;
  padding-right: 0px;
}
.carousel .carousel-inner .item{
  padding-left: 0px;
  padding-right: 0px;
}

.carousel .carousel-inner .item img{
  width: 100%;
}

.carousel-control.left, .carousel-control.right{
  background-image:none;
  -webkit-transition : all 0.7s ease-out;
  transition         : all 0.7s ease-out;
}

.carousel  .icon-angle-left,.carousel  .icon-angle-right{
  border:2px solid #fff;
  border-radius: 100%;
  display:none;
  width: 65px; height: 65px;
  font-size: 40px;
  text-shadow: none;
  padding-top: 10px;
}

.carousel  .carousel-control:hover .icon-angle-left,.carousel  .carousel-control:hover .icon-angle-right{
  display: block;
}

.carousel .carousel-indicators{
  bottom: 20px;
}

/* mensaje-1 */

.mensaje-1{
  background-color: #ff6600;
  -vendor-animation-duration: 7s;
  -vendor-animation-delay: 4s;
  padding-left: 0px;
}

.mensaje-1 h2{
  color:#fff;
  font-family : 'sf_ui_regular';
  font-weight : bold;
  text-align: left;
  margin-top: 55px;
  margin-bottom: 55px;
  text-transform: uppercase;
  line-height: 1.25em;
  letter-spacing: 1px;
  font-size: 28px;
}

.mensaje-1 h2 b{
  color:#3b5998;
 }

 .mensaje-1 a{
  margin-top: 10%;
  margin-bottom: 10%;
  color:#fff;
  background-color: transparent;
  border:3px solid #fff;
  border-radius: 30px;
  padding: 10px 30px 8px 30px;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition : all 0.7s ease-out;
  transition         : all 0.7s ease-out;
 }
 .mensaje-1 a:hover{
  background-color: #fff;
  color:#ff6600;
 }

 #footer{
  padding: 15px 0 0px 0;
  z-index: 1;
  background-color: #2c353d;
  color: #ffffff;
 }
 .box-text .textwidget{
  font-size: 16px;
  line-height: 1.5;
 }
 .box-text .textwidget b{
   clear:both;
   font-weight: bold;
 }
 .box-text h3{
   padding: 12px 0px;
   border:1px solid #5b646b;
   border-left:0px;
   border-right: 0px;
   font-size: 18px;
 }

 /* footer */
 .box-footer{
  background-color: #5b646b;
 }

.box-footer .pull-left{
  padding: 7px 15px;
  font-size: 11px;
  font-family : 'sf_ui_light';
  padding-top:15px;
}

.box-footer .menu-footer{
  display: block;
}

.box-footer .menu-footer li{
  margin-left: 10px;
  display: inline;
}

.box-footer .menu-footer li a{
  padding: 5px 5px 0px 5px;
  margin-top: 7px;
  color:#fff;
  display: inline-block;
  font-size: 13px;
}
.quienes-somos{
  padding-top: 30px;
  margin-bottom: 30px;
  background-color: #fff;
}
.quienes-somos .box-title {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.quienes-somos .box-title img{ margin:0px auto !important; }

.quienes-somos .box-title h1{
  margin:55px 0px 25px 0px;
  font-size: 28px;
  font-family : 'sf_ui_regular';

}

.quienes-somos .box-text p{
  font-size: 16px;
  line-height: 1.9;
  color:#666;
  margin-bottom: 16px;
  text-align: justify;
}

.quienes-somos .box-text strong, .quienes-somos .box-text b{
  font-family : 'sf_ui_bold';
  width: 100%;
  clear: both;
  color:#333;
  display: inline-block;
}

.qs-movil{
	display:none;  
}

.hr-inner{
  width:50px; display:inline-block; height:2px; border-bottom:2px solid #efbb20; margin-bottom:50px;
}

#map {
  width: 100%;
  height: 400px;
}

.form-contacto {
  text-align: left;
  padding: 30px 30px;
  background-color: #fff;
}

.form-contacto .hr-inner{
  margin-bottom:10px;
}
.form-contacto h3{
  color:#2c353d;
}
.form-contacto .ref p{
  color:#9c9c9c;
}
.form-contacto .title{
  font-size: 21px;
  font-family : 'sf_ui_regular';
}

.form-contacto label{
  width: 100%;
  clear: both;
  padding: 7px 0px;
  font-family : 'sf_ui_light';
  font-size: 17px;
}
.form-group p{
  padding-left: 0px;
  padding-right: 0px;
  width: 47%;
  margin-right: 20px;
}

.form-contacto  .col-xs-8{
  padding-left: 0px;
  padding-right: 0px;
}
.required{
  color:red;
  border: 0;
  text-decoration: none;
}

.form-contacto input, .form-contacto select, .form-contacto textarea{
  background-color: #f8f8f8 !important;
  color: #919191;
  border-radius: 2px;
}


#inputMotivo { font-size: 14px; }
#inputConsulta { width: 96%; }

.form-contacto .btn-primary{
  border-radius: 3px;
  padding: 15px 35px;
  font-size: 20px;
  color:#fff;
  background-color: #1e62bd !important;
}

.form-contacto strong{
  font-family : 'sf_ui_bold';
  color:#3b5998;
}

.rs-footer{
display:none;
}

.box-footer .copy{
	float: left;
	font-size: 12px;
	margin-top: 12px;
}

.box-footer .menu-footer{
	float: right;
}
.rs-copy{ 
	display: none; 
}

.btn-m6 { display: none !important; }

@media screen and (max-width: 570px) {

	.pre-load-web .box-siteloader .logo-loading{
		width: 180px;
		height: 70px;
	}
	.datos{
		font-size: 11px;
		margin-right: 10px;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.rs{
		display:none;
	}
	.box-logo{
		margin-left: 0px;
		width: 180px;
		position: relative;
		z-index: 90;
		float: left;
		height: 75px;
	}
	.brand{
		position: absolute;
		top:0;
	}
	.navbar-toggle{
		border:1px solid #ccc;
		margin-top: 18px;
	}
	.navbar-collapse, .navbar-nav{
		background-color:  #1e62bd !important;
		height: auto;
		min-height: auto;
		margin:0;
	}
	.navbar-collapse{
		padding-left: 15px !important;
		margin-top: 10px;
	}
	.menu-general .navbar-collapse.in{
		overflow-y: visible;
	}
	
	.menu-general .container-fluid>.navbar-collapse,
	.menu-general .container-fluid>.navbar-header, 
	.menu-general .container>.navbar-collapse, 
	.menu-general .container>.navbar-header {
    	margin-right: -16px;
		margin-left: -16px;
	}
	.menu-general{
		width: 100%;
		background: transparent !important;
		z-index: 80;
		right: 0;
		position: absolute;
		top:28px;
	}
	.menu-general .nav<a{
		color:#fff !important;
	}
	.menu-general .nav a{
		color:#fff !important;
		width: 100% !important;
	}
	.caruosel{
		border:1px solid red;
	}
	
	.carousel .carousel-indicators {
    	bottom: -40px;
	}
	
	.carousel-control {
		width: 30%;
	}
	
	.carousel-control .icon-angle-left{
		width: 50px;
		height: 45px;
		top:40%;
		left:20%;
		font-size: 32px;
		padding-top: 4px;
	}
	.carousel-control .icon-angle-right{
		width: 50px;
		height: 45px;
		top:40%;
		right:20%;
		font-size: 32px;
		padding-top: 4px;
	}
	.box-text{
		padding-bottom: 0px;
		padding-top: 0px;	
	}
	
	.box-text h3{
		font-size: 16px;
	}
	.box-text .textwidget{
		font-size: 14px;
	}
	#footer .row{
		margin:20px 0px;
	}
	
	#footer .container{
		padding-left: 0px;
		padding-right: 0px;
	}
	.box-footer .pull-left{ float:right; }
	.box-footer .pull-rigth{ float: left; }
	.rs-footer{
		display:block;
		width: 100%;
		text-align: center;
		clear: both;
		margin: 20px 0px;
		display:none;
	}
	.rs-footer a{
		color:#fff;
		margin-left: 10px;
		font-size: 18px; 
	}
	.box-footer .copy{
		float: right;
		display: none;
	}
	
	.box-footer .menu-footer{
		float: left;
	}
	.rs-copy{
		display: block;
		font-size: 11px;
		margin-bottom: 15px;
		display:none;
	}
	.quienes-somos .box-text{
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
	}
	
	.quienes-somos .box-title{
		margin-top: 20px;
	}
	
	.quienes-somos .box-title h1{
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.quienes-somos .box-title .hr-inner{
		margin-bottom: 10px;
	}
	#map{
		height: 230px;
	}
	
	.box-form{
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 20px;
	}
	
	.box-form .col-md-6{
		width: 100%; 
		float: left;
		clear: both;
		margin:10px 0px;
	}
	
	#qsimg_hype_container {
		display: none;
	}
	.qs-movil{
		display:block !important;  
	}
	
}
