RewriteEngine on

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

Rewriterule ^raiz$  index.php?cat=1&pla=1
Rewriterule ^dashboard$  nucleo/dashboard.php
Rewriterule ^landicorp$  index.php?cat=2&pla=1
Rewriterule ^mainter$  index.php?cat=3&pla=1

Rewriterule ^utilar$  index.php?cat=4&pla=1
Rewriterule ^dashboard$  nucleo/dashboard.php
Rewriterule ^conozca-landicorp$  index.php?cat=5&pla=1
Rewriterule ^contacto-landicorp$  index.php?cat=7&pla=1
Rewriterule ^utilar$  index.php?cat=4&pla=1
Rewriterule ^conozca-utilar$  index.php?cat=4&pla=14
Rewriterule ^productos-utilar$  index.php?cat=4&pla=15
Rewriterule ^contacto-utilar$  index.php?cat=4&pla=16

Rewriterule ^conozca-utilar$  index.php?cat=14&pla=1
Rewriterule ^productos-utilar$  index.php?cat=15&pla=1
Rewriterule ^contacto-utilar$  index.php?cat=16&pla=1

Rewriterule ^mainter$  index.php?cat=3&pla=1
Rewriterule ^conozca-mainter$  index.php?cat=17&pla=1
Rewriterule ^portafolio-mainter$  index.php?cat=18&pla=1
Rewriterule ^contacto-mainter$  index.php?cat=19&pla=1
Rewriterule ^division-agricola$  index.php?cat=20&pla=1
Rewriterule ^division-maquinaria$  index.php?cat=21&pla=1
Rewriterule ^division-construccion$  index.php?cat=22&pla=1
Rewriterule ^division-pecuaria$  index.php?cat=23&pla=1
