# htaccess 
# Fecha de modificacion:29 06 2016 22:06:45
#
RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
#
Rewriterule ^dashboard$  nucleo/dashboard.php
Rewriterule ^mainter$  index.php?cat=&pla=
Rewriterule ^raiz$  index.php?cat=1&pla=1
Rewriterule ^landicorp$  index.php?cat=2&pla=1
Rewriterule ^mainter$  index.php?cat=3&pla=1
Rewriterule ^utilar$  index.php?cat=4&pla=1
Rewriterule ^conozca-landicorp$  index.php?cat=5&pla=1
Rewriterule ^contacto-landicorp$  index.php?cat=7&pla=1
Rewriterule ^conozca-utilar$  index.php?cat=14&pla=1
Rewriterule ^productos-utilar$  index.php?cat=15&pla=1
Rewriterule ^contacto-utilar$  index.php?cat=16&pla=1
Rewriterule ^conozca-mainter$  index.php?cat=17&pla=1
Rewriterule ^contacto-mainter$  index.php?cat=19&pla=1
Rewriterule ^division-agricola$  index.php?cat=20&pla=1
Rewriterule ^division-agricola/herbicidas$  index.php?cat=20&pla=1&cp=6
Rewriterule ^division-agricola/herbicidas/mayoral$  index.php?cat=20&pla=2&cp=6&prod=1
Rewriterule ^division-agricola/herbicidas/rimon$  index.php?cat=20&pla=2&cp=6&prod=2
Rewriterule ^division-agricola/insecticidas$  index.php?cat=20&pla=1&cp=7
Rewriterule ^division-agricola/insecticidas/rimon$  index.php?cat=20&pla=2&cp=7&prod=2
Rewriterule ^division-agricola/acaricidas$  index.php?cat=20&pla=1&cp=8
Rewriterule ^division-agricola/fungicidas$  index.php?cat=20&pla=1&cp=9
Rewriterule ^division-agricola/reg-crecim$  index.php?cat=20&pla=1&cp=10
Rewriterule ^division-agricola/coadyuvantes$  index.php?cat=20&pla=1&cp=11
Rewriterule ^division-agricola/fert-fol$  index.php?cat=20&pla=1&cp=12
Rewriterule ^division-maquinaria$  index.php?cat=21&pla=1
Rewriterule ^division-construccion$  index.php?cat=22&pla=1
Rewriterule ^division-pecuaria$  index.php?cat=23&pla=1
Rewriterule ^division-eco$  index.php?cat=24&pla=1
