@import "fonts.min.css";

body,
html {
  display : block;
  height  : 100%;
  margin  : 0;
  border  : 0;
}

body {
  color            : #2c353d;
  background-color : #F4F6F7 !important;
  text-align       : center;
  font-weight: 400;
}

a { color:#0075BD; cursor: pointer; vertical-align: baseline; }

#page-content-wrapper{
  font-family: LLBrownProWeb-Light,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 12px;
  letter-spacing: 0.6pt;
}

#diagrama_general{
  position: relative;
  width: 100%;
  height: auto !important
  float:left;
}
#diagrama_general .container-fluid{
  position: relative;
}
/* menu */
.nav-bar-m{
  background-color: #1e428a;
  position: fixed;
  top:0;
  width: 100%;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  box-shadow: 0 3px 10px rgba(0,0,0,.2);
  min-height: 52px;
  z-index: 4;
  padding-left: 0px;
  padding-right: 0px;
  color:#fff;
}

.side-bar-m {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 1;
 width: 250px;
 height: 100vh;
 overflow: hidden;
 background-color: #322e2d;
 color: #fff;
 padding-top: 52px;
}

.body-page-m{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: auto !important;
  overflow: hidden;
  z-index: 2;
  background-color:#F8F8F8;
  transition: all .2s ease;
  transition: all .2s ease;
  top:0px;
  left:-1px;
  padding-top: 52px;
}
.on.body-page-m{
  left:250px;
  transition: all .2s ease;
  transition: all .2s ease;
}

.btn-menu-m{
  border-right: 1px solid #2751a5;
  width: 52px;
  height: 53px;
  position: relative;
  float: left;
}

.btn-menu-m i{
  color:#fff;
  font-size: 17px;
  position: relative;
  margin:18px 18px;
  float: left;
  display: block;
}

.btn-menu-m .icon-remove{display: none; }
.brand {
  position: relative;
  float: left;
  width: 150px;
  height: 32px;
  margin:10px 20px;
}

.brand img{
  width: 100%;
  height:100%;
}

.buscar{
  float: right;
  border-right: 1px solid #2751a5;
  border-left: 1px solid #2751a5;
  position: relative;
  font-size: 13px;
  cursor: pointer;
  padding: 17px 20px 18px 20px;
}

.buscar i{
  margin-left: 10px;
}
.buscar:hover,.btn-menu-m:hover{
  background-color: #ffc627;
  transition: all .2s ease;
  transition: all .2s ease;
}
.on.btn-menu-m{
  background-color: #ffc627;
}
.on.btn-menu-m .icon-reorder{
  display: none;
}
.social{
  float: right;
  position: relative;
  padding: 17px 12px;
}

.social i{
  margin:0px 2px; border:1px solid #fff;  width: 19px; height: 19px;
  display: inline-block; padding:4px; border-radius: 20px;
  font-size: 11px;
}

.social .icon-comments-alt{ display:none; }

/* sidebar */
.btn-sidebar .brand-m{
  width: 22px;
  margin: 15px 20px;
}
.btn-sidebar{
  width: 100%;
  border-bottom: 1px solid #2b2827;
  border-top: 1px solid #3f3b3a;
  font-size: 13px;
  text-align: left;
}
.side-bar-m ul, .side-bar-m ul li{
  width: 100%;
}
.side-bar-m li a{
  border-bottom: 1px solid #2b2827;
  border-top: 1px solid #3f3b3a;
  font-size: 13px;
  color:#bbb;
  width: 100%;
  display:block;
  text-align: left;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
  font-family: LLBrownProWeb-Regular,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.side-bar-m li a:hover{
  transition: all .2s ease;

  color:#fff;
}

.side-bar-m .dropdown-menu{ display: none; }

/* body page */
.body-page-m .page{
  padding: 40px;
}
.body-page-m .page ul, .body-page-m .page ul li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.body-page-m .title-page{ margin-bottom: 35px; text-align: center; }

.body-page-m .title-page h1, .body-page-m .title-page h2{
  font-family: LLBrownProWeb-Regular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 30px;
}
.body-page-m .title-page h1 img{
  height: 30px;
  line-height: 42px;color:#F8F8F8;
}
.body-page-m .page p{
  outline: 0;
  font-size: 16px;
  vertical-align: baseline;
  font-family: LLBrownProWeb-light,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #878787;
  line-height: 24px;
  letter-spacing: 0.6pt;
  font-weight: 400;
}
.body-page-m .page strong{
  color:#444;
}
.body-page-m .page ul{
  width:81%; display:block; margin: 0 auto !important;
  text-align: left;
  transition: all .2s ease;
}
.body-page-m .page ul li{
  width: 300px;
  height:320px;
  display:inline-block;
  margin:1%;
  position: relative;
}
.body-page-m .page ul li a{
  height:100%;
  width: 100%;
  position: absolute;
}

.body-page-m .page ul li:hover .bg{
  transition: all .2s ease;
  transition: all .2s ease;
  height: 100%;
}

.body-page-m .btn-m17, .body-page-m .btn-m19{
  display: none !important;
}

.body-page-m .page ul li .bg{
  position: absolute;
  transition: all .2s ease;
  transition: all .2s ease;
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 25%;
  bottom: 0px;
  z-index: 0;
}
.body-page-m .page ul li span{
  position: absolute;
  bottom: 27px;
  width: 100%;
  z-index: 1;
  color:#fff;
  font-size: 16px;
  text-align: center;
  transition: all .2s ease;
  transition: all .2s ease;
}

.body-page-m .page ul li:hover span{
  transition: all .2s ease;
  transition: all .2s ease;
  bottom: 50%;
}

.body-page-m .page ul li .mas{
  bottom: 0; left: 40%;
  border:1px solid #ffc627;
  background-color: #ffc627;
  border-radius: 20px;
  width: 70px;
  display: inline-block;
  position: absolute;
  text-align: center;
  padding: 7px 8px;
  color:#fff;
  font-family: LLBrownProWeb-Regular,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  opacity: 0;
  transition: all .2s ease;
  z-index: 3;
}

.body-page-m .page ul li .mas:hover{
  background-color:transparent;
}
.body-page-m .page ul li:hover .mas{
  bottom: 35%;
  transition: all .2s ease;
  opacity: 1;
}

.body-page-m .page ul .btn-m21{
  background: url(../images/maquinaria.jpg) no-repeat center center;
}

.body-page-m .page ul .btn-m20{
  background: url(../images/agricola.jpg) no-repeat center center;
}

.body-page-m .page ul .btn-m22{
  background: url(../images/construccion.jpg) no-repeat center center;
}

.body-page-m .page ul .btn-m23{
  background: url(../images/pecuaria.jpg) no-repeat center center;
}

.body-page-m .page ul .btn-m24{
  background: url(../images/eco.jpg) no-repeat center center;
}
.body-page-m .page .text-left{
  border-right:1px solid #ccc;
  min-height: 470px;
  padding-right: 40px;
}

.body-page-m .page .img-right{
  padding-left: 40px;
}
.body-page-m .page .img-right .btn{
  padding-left: 40px;
}

/* footer */
.footer{
  background-color: #9b9b9b;
}
.container{
  padding: 30px; width:81%;
  text-align: left;
}
.footer .container h4{

}
.footer .container p{
  color:#fff;
  font-size: 14px;
}


@media screen and (max-width: 570px) {
  .nav-bar-m .brand{ width: 100px; transition: all .2s ease; }
  .nav-bar-m .social i{ display:none; }
  .nav-bar-m .social .icon-comments-alt{ display:block; }
  .nav-bar-m .buscar span{ display:none; }
  .nav-bar-m .buscar{ border: 0; padding-right: 10px; }
  .nav-bar-m .buscar i{ font-size: 16px; }
  .body-page-m .page { padding: 20px; }
  .body-page-m .page ul{
    width:95%;
    transition: all .2s ease;
  }
  .body-page-m .page li{
    max-width:98%;
    max-height: 330px;
    transition: all .2s ease;
  }
  .body-page-m .page ul li .bg{
    background-color: #777;
    opacity: 1;
    height: 100px;
  }
  .body-page-m .page ul li a span{
    bottom: 60px;
  }
  .body-page-m .page ul li a .mas{
    opacity: 1;
    bottom: 20px;
    left: 36%;
  }
  .footer .container{
    transition: all .2s ease;
    width:100%;
    font-size: 12px;
  }
  .footer .container p{
    font-size: 12px;
  }
}
